{erl_opts, [debug_info]}.
{deps, [
	{mqtt,              {git, "https://github.com/kopera/erlang-mqtt.git", {branch, "master"}}},
	{jsx,               "~> 3.1.0"},
	{prometheus,        "~> 4.8.0"},
	{prometheus_httpd,  "~> 2.1.10"}
]}.

{shell, [
	{config, "config/sys.config"},
    {apps, [scrape_ecoflow]}
]}.
